* {
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.68,-0.55,0.265,1.55);
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

.input-shadow {
    box-shadow: 0px 2px 15px 0px #00000040 inset;
}

/* App.css */

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.marquee-track {
  display: flex;
  gap: 1rem;
  animation: marquee 30s linear infinite;
  width: max-content;
}
